Repository boostcampwm2023/iOS09-Layover, pull requests merged in 2023-11, with the labels that each got.

#2 Feat: 네트워크 레이어 구성
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/AuthManager.swift
  iOS/Layover/Layover/Network/Common/NetworkError.swift
  iOS/Layover/Layover/Network/EndPoint/EndPoint.swift
  iOS/Layover/Layover/Network/EndPoint/HTTPMethod.swift
  iOS/Layover/Layover/Network/EndPoint/Requestable.swift
  iOS/Layover/Layover/Network/EndPoint/Responsable.swift
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Services/Keychain/KeychainStored.swift
Labels: 🍎 iOS, feature

#4 feat: 폰트 및 컬러 시스템 세팅
  iOS/.gitattributes
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/UIFont+.swift
  iOS/Layover/Layover/Info.plist
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Background.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Correct.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/DarkGrey.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Error.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Grey100.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Grey200.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Grey300.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Grey400.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Grey500.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/PrimaryPurple.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/White.colorset/Contents.json
  iOS/Layover/Layover/Resources/Fonts/Pretendard-Bold.ttf
  iOS/Layover/Layover/Resources/Fonts/Pretendard-Regular.ttf
  iOS/Layover/Layover/Resources/Fonts/Pretendard-SemiBold.ttf
Labels: 🍎 iOS, feature

#6 chore: .gitignore와 .gitattributes을 최상위 폴더로 이동
  .gitattributes
  .gitignore
Labels: 🍎 iOS, chore

#10 feat: 메인 탭바 설정
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Layover/Layover/Extensions/OSLog+.swift
  iOS/Layover/Layover/Info.plist
  iOS/Layover/Layover/Main.storyboard
  iOS/Layover/Layover/SceneDelegate.swift
  iOS/Layover/Layover/Scenes/Configurator.swift
  iOS/Layover/Layover/Scenes/Login/LoginInteractor.swift
  iOS/Layover/Layover/Scenes/Login/LoginModels.swift
  iOS/Layover/Layover/Scenes/Login/LoginPresenter.swift
  iOS/Layover/Layover/Scenes/Login/LoginRouter.swift
  iOS/Layover/Layover/Scenes/Login/LoginViewController.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Scenes/Tabbar/DummyViewController.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarConfigurator.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarViewController.swift
  iOS/Layover/Layover/Services/Keychain/KeychainStored.swift
Labels: 🍎 iOS, ✨ feature

#11 Add: Github Actions CI 설정
  .github/ISSUE_TEMPLATE/🐞-bug-template.md
  .github/ISSUE_TEMPLATE/💡-issue-template.md
  .github/pull_request_template.md
  .github/workflows/ios-pr-test.yml
  README.md
Labels: 🍎 iOS

#14 feat: LOButton, LOTextField 컴포넌트 생성, SignUpViewController 뷰 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/LOButton.swift
  iOS/Layover/Layover/DesignSystem/LOTextField.swift
  iOS/Layover/Layover/Scenes/SignUpViewController.swift
  iOS/Layover/Layover/Scenes/SingUpScene/SignUpConfigurator.swift
  iOS/Layover/Layover/Scenes/SingUpScene/SignUpInteractor.swift
  iOS/Layover/Layover/Scenes/SingUpScene/SignUpModels.swift
  iOS/Layover/Layover/Scenes/SingUpScene/SignUpPresenter.swift
Labels: 🍎 iOS, ✨ feature

#18 chore: lint waring 해결 및 yml 수정, 기본 생성 vc 삭제
  iOS/Layover/.swiftlint.yml
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/LOButton.swift
  iOS/Layover/Layover/Network/EndPoint/EndPoint.swift
  iOS/Layover/Layover/Network/EndPoint/Requestable.swift
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/LayoverWhite.colorset/Contents.json
  iOS/Layover/Layover/Scenes/SignUpViewController.swift
  iOS/Layover/Layover/Scenes/Tabbar/DummyViewController.swift
  iOS/Layover/Layover/Services/Keychain/KeychainStored.swift
  iOS/Layover/Layover/ViewController.swift
Labels: 🍎 iOS, 🧹 chore

#16 feat: 홈 scene 생성, 탭바 설정
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/LOCircleButton.swift
  iOS/Layover/Layover/Extensions/UIView+.swift
  iOS/Layover/Layover/Resources/Assets.xcassets/location.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/location.imageset/location_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/location.imageset/location_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/location.imageset/location_icon@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/map.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/map.imageset/map.png
  iOS/Layover/Layover/Resources/Assets.xcassets/map.imageset/map@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/map.imageset/map@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/mute.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/mute.imageset/mute_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/mute.imageset/mute_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/mute.imageset/mute_icon@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/photo.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/photo.imageset/photo_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/photo.imageset/photo_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/photo.imageset/photo_icon@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/planet.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/planet.imageset/planet.png
  iOS/Layover/Layover/Resources/Assets.xcassets/planet.imageset/planet@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/planet.imageset/planet@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/plus.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/plus.imageset/plus_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/plus.imageset/plus_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/plus.imageset/plus_icon@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/scissors.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/scissors.imageset/scissors_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/scissors.imageset/scissors_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/scissors.imageset/scissors_icon@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/star.imageset/3.png
  iOS/Layover/Layover/Resources/Assets.xcassets/star.imageset/3@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/star.imageset/3@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/star.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/volume.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/volume.imageset/volume_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/volume.imageset/volume_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/volume.imageset/volume_icon@3x.png
  iOS/Layover/Layover/Scenes/BaseViewController.swift
  iOS/Layover/Layover/Scenes/Configurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeModels.swift
  iOS/Layover/Layover/Scenes/Home/HomePresenter.swift
  iOS/Layover/Layover/Scenes/Home/HomeRouter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Home/HomeWorker.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarConfigurator.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarViewController.swift
Labels: 🍎 iOS, ✨ feature

#24 feat: Kakao OAuth
  .gitignore
  BE/layover/Dockerfile
  BE/layover/dockerignore
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/app.module.ts
  BE/layover/src/config.ts
  BE/layover/src/database/database.module.ts
  BE/layover/src/database/database.provider.ts
  BE/layover/src/database/member/member.entity.ts
  BE/layover/src/database/member/member.module.ts
  BE/layover/src/database/member/member.providers.ts
  BE/layover/src/database/member/member.service.ts
  BE/layover/src/main.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.module.ts
  BE/layover/src/oauth/oauth.repository.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/redis/redis.module.ts
  BE/layover/src/redis/redis.provider.ts
  BE/layover/src/utils/hashUtils.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, ✨ feature

#25 feat: custom exception 설정
  .idea/.gitignore
  .idea/iOS09-Layover.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/custom-exception.spec.ts
  BE/layover/src/custom-exception.ts
  BE/layover/src/main.ts
Labels: 🎀 BE, ✨ feature

#27 feat: Apple OAuth, IPA 배포 기능
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/app.module.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, ✨ feature

#31 feat: IPA 배포를 위한 html 페이지 작성
  BE/layover/public/.well-known/pki-validation/3A5CF2F8A258548E401AC0629FDA19DC.txt
  BE/layover/public/iOS.html
Labels: 🎀 BE, ✨ feature

#32 feat: 포트 번호 80으로 변경 (임시?)
  BE/layover/src/main.ts
Labels: 🎀 BE, 🧹 chore

#34 fix: 포트번호 원상 복구
  BE/layover/public/.well-known/pki-validation/3A5CF2F8A258548E401AC0629FDA19DC.txt
  BE/layover/src/main.ts
Labels: 🎀 BE, 🧹 chore

#28 :sparkles: feat: HomeViewController 캐러셀 레이아웃 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/UIView+.swift
  iOS/Layover/Layover/Scenes/BaseViewController.swift
  iOS/Layover/Layover/Scenes/Home/Cell/HomeCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpConfigurator.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpInteractor.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpModels.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpPresenter.swift
Labels: 🍎 iOS, ✨ feature

#38 feat: PlayerView 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/UIComponents/PlayerView.swift
Labels: 🍎 iOS, ✨ feature

#45 fix: jwt 검증 과정 커스텀
  BE/layover/src/custom-exception.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/utils/hashUtils.ts
Labels: 🎀 BE, 🧹 chore

#39 Feat: 지도 탭 캐러셀 구현 + Extension 분리
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/UICollectionViewLayout+.swift
  iOS/Layover/Layover/Scenes/MapScene/MapCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/MapScene/MapViewController.swift
Labels: 🍎 iOS, ✨ feature, 🌈 design

#47 feat: 반복 재생이 되는 LoopingPlayerView 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/UIComponents/LoopingPlayerView.swift
Labels: 🍎 iOS, ✨ feature

#51 feat: ssl/tls 인증서 설치 관련 코드 추가
  BE/layover/src/main.ts
Labels: 🎀 BE, ✨ feature

#48 feat: 로그인 뷰 레이아웃 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/UIFont+.swift
  iOS/Layover/Layover/Info.plist
  iOS/Layover/Layover/Resources/Assets.xcassets/Colors/Kakao.colorset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/appleLogo.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/appleLogo.imageset/appleLogo 1.png
  iOS/Layover/Layover/Resources/Assets.xcassets/appleLogo.imageset/appleLogo 2.png
  iOS/Layover/Layover/Resources/Assets.xcassets/appleLogo.imageset/appleLogo.png
  iOS/Layover/Layover/Resources/Assets.xcassets/kakaoLogo.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/kakaoLogo.imageset/kakaoLogo 1.png
  iOS/Layover/Layover/Resources/Assets.xcassets/kakaoLogo.imageset/kakaoLogo 2.png
  iOS/Layover/Layover/Resources/Assets.xcassets/kakaoLogo.imageset/kakaoLogo.png
  iOS/Layover/Layover/Resources/Assets.xcassets/loLogo.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/loLogo.imageset/LayoverLogo 1.png
  iOS/Layover/Layover/Resources/Assets.xcassets/loLogo.imageset/LayoverLogo 2.png
  iOS/Layover/Layover/Resources/Assets.xcassets/loLogo.imageset/LayoverLogo.png
  iOS/Layover/Layover/Resources/Fonts/Dashboard-Regular.ttf
  iOS/Layover/Layover/Scenes/Login/LoginConfigurator.swift
  iOS/Layover/Layover/Scenes/Login/LoginInteractor.swift
  iOS/Layover/Layover/Scenes/Login/LoginModels.swift
  iOS/Layover/Layover/Scenes/Login/LoginPresenter.swift
  iOS/Layover/Layover/Scenes/Login/LoginRouter.swift
  iOS/Layover/Layover/Scenes/Login/LoginViewController.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/en.lproj/LaunchScreen.strings
Labels: 🍎 iOS, ✨ feature, 🌈 design

#53 Feat: 지도 탭 캐러셀 반복재생 및 `LoopingPlayerView`, `createCarouselLayout` 변경 사항
  iOS/Layover/Layover/Extensions/UICollectionViewLayout+.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/MapScene/MapCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/MapScene/MapInteractor.swift
  iOS/Layover/Layover/Scenes/MapScene/MapModels.swift
  iOS/Layover/Layover/Scenes/MapScene/MapPresenter.swift
  iOS/Layover/Layover/Scenes/MapScene/MapViewController.swift
  iOS/Layover/Layover/Scenes/UIComponents/LoopingPlayerView.swift
Labels: 🍎 iOS, ✨ feature

#57 fix: 오타 수정!!! (세글자)
  .gitignore
  BE/layover/src/custom-exception.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
Labels: 🎀 BE, 🐞 bug

#58 fix: api 간단 수정(멤버해시 응답하도록)
  BE/layover/src/oauth/oauth.service.ts
Labels: 🎀 BE, 🐞 bug

#63 feat: 로그인 예외처리
  BE/layover/src/app.module.ts
  BE/layover/src/custom-exception.ts
  BE/layover/src/database/database.module.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.module.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, 🧹 chore

#64 feat: signup api 변경
  BE/layover/src/member/member.entity.ts
  BE/layover/src/member/member.module.ts
  BE/layover/src/member/member.providers.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.module.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, ✨ feature

#65 Be/feat#video upload
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/app.module.ts
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.entity.ts
  BE/layover/src/board/board.module.ts
  BE/layover/src/board/board.provider.ts
  BE/layover/src/board/board.service.spec.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/video/video.entity.ts
  BE/layover/src/video/video.provider.ts
Labels: 🎀 BE, ✨ feature

#70 chore: custom response 설정
  BE/layover/src/board/board.controller.ts
  BE/layover/src/custom-exception.spec.ts
  BE/layover/src/custom-exception.ts
  BE/layover/src/main.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/response/custom-response.ts
  BE/layover/src/response/ecustom-code.jenum..ts
  BE/layover/src/response/ecustom-code.jenum.spec.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, 🧹 chore

#67 feat: 홈 탭 캐러셀에 PlayerView 연동
  iOS/Layover/Layover/Scenes/Home/Cell/HomeCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeModels.swift
  iOS/Layover/Layover/Scenes/Home/HomePresenter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Home/HomeWorker.swift
  iOS/Layover/Layover/Scenes/UIComponents/LoopingPlayerView.swift
Labels: 🍎 iOS, ✨ feature

#74 chore: 컨트롤러 스웨거 설정
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/dtos/create-board.dto.ts
  BE/layover/src/board/dtos/presigned-url-res.dto.ts
  BE/layover/src/board/dtos/presigned-url.dto.ts
  BE/layover/src/main.ts
  BE/layover/src/oauth/dtos/apple-login.dto.ts
  BE/layover/src/oauth/dtos/apple-signup.dto.ts
  BE/layover/src/oauth/dtos/kakao-login.dto.ts
  BE/layover/src/oauth/dtos/kakao-signup.dto.ts
  BE/layover/src/oauth/dtos/token-res.dto.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/response/custom-response.ts
Labels: 🎀 BE, 🧹 chore

#76 feat: 닉네임 검증 api 구현
  BE/layover/src/config.ts
  BE/layover/src/main.ts
  BE/layover/src/member/dtos/check-username-res.dto.ts
  BE/layover/src/member/dtos/check-username.dto.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.entity.ts
  BE/layover/src/member/member.module.ts
  BE/layover/src/member/member.service.ts
Labels: 🎀 BE, ✨ feature

#69 feat: 유저 프로필 화면 구성
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Resources/Assets.xcassets/Setting.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Setting.imageset/Setting.png
  iOS/Layover/Layover/Resources/Assets.xcassets/Setting.imageset/Setting@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/Setting.imageset/Setting@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/profile.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/profile.imageset/profile.png
  iOS/Layover/Layover/Resources/Assets.xcassets/profile.imageset/profile@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/profile.imageset/profile@3x.png
  iOS/Layover/Layover/Scenes/Profile/ProfileConfigurator.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileHeaderView.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileModels.swift
  iOS/Layover/Layover/Scenes/Profile/ProfilePresenter.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileRouter.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ThumbnailCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarConfigurator.swift
Labels: 🍎 iOS, 🌈 design

#80 fix: JWT validation pipe 수정
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/pipes/custom-header.decorator.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
Labels: 🎀 BE, 🧹 chore

#81 chore: 영상 업로드 로직 및 자잘한 수정들
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/app.module.ts
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.spec.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/create-board-res.dto.ts
  BE/layover/src/board/dtos/create-board.dto.ts
  BE/layover/src/board/dtos/presigned-url.dto.ts
  BE/layover/src/main.ts
  BE/layover/src/video/video.service.ts
Labels: 🎀 BE, 🧹 chore

#79 feat: 회원가입, 로그인 설정 작업
  .gitignore
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/AppDelegate.swift
  iOS/Layover/Layover/Info.plist
  iOS/Layover/Layover/Models/DummyModel.swift
  iOS/Layover/Layover/Network/DTOs/LoginDTO.swift
  iOS/Layover/Layover/Network/DTOs/Response.swift
  iOS/Layover/Layover/SceneDelegate.swift
Labels: 🍎 iOS, ✨ feature

#95 fix: status code 수정
  BE/layover/src/board/board.controller.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/response/custom-response.ts
  BE/layover/src/response/ecustom-code.jenum.spec.ts
  BE/layover/src/response/ecustom-code.jenum.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, 🧹 chore

#96 chore: 네트워크 레이어 구성 변경
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/DummyDesignSystem.swift
  iOS/Layover/Layover/Extensions/DummyExtension.swift
  iOS/Layover/Layover/Network/DTOs/Response.swift
  iOS/Layover/Layover/Network/EndPoint/EndPoint.swift
  iOS/Layover/Layover/Network/EndPoint/HTTPMethod.swift
  iOS/Layover/Layover/Network/EndPoint/Requestable.swift
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Scenes/DummyScene.swift
  iOS/Layover/Layover/Scenes/Tabbar/DummyViewController.swift
  iOS/Layover/Layover/Services/DummyService.swift
Labels: 🍎 iOS, 🧹 chore

#97 test: URLProtocol을 이용한 테스트 세팅
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/URLSession+.swift
  iOS/Layover/Layover/Network/DTOs/CheckUserNameDTO.swift
  iOS/Layover/Layover/Network/DTOs/IntroduceDTO.swift
  iOS/Layover/Layover/Network/DTOs/NicknameDTO.swift
  iOS/Layover/Layover/Network/DTOs/ProfileImageDTO.swift
  iOS/Layover/Layover/Network/Mock/MockData/CheckUserName.json
  iOS/Layover/Layover/Network/Mock/MockData/DeleteUser.json
  iOS/Layover/Layover/Network/Mock/MockData/PatchIntroduce.json
  iOS/Layover/Layover/Network/Mock/MockData/PatchProfileImage.json
  iOS/Layover/Layover/Network/Mock/MockData/PatchUserName.json
  iOS/Layover/Layover/Network/Mock/MockURLProtocol.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpConfigurator.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpInteractor.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpModels.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpPresenter.swift
  iOS/Layover/Layover/Scenes/SignUpViewController.swift
  iOS/Layover/Layover/Workers/MockUserWorker.swift
Labels: 🍎 iOS, ✨ feature

#98 feat: 카카오 로그인 로직 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/AuthManager.swift
  iOS/Layover/Layover/Network/EndPoint/EndPoint.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointsFactory.swift
  iOS/Layover/Layover/Resources/Assets.xcassets/appleLogo.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/kakaoLogo.imageset/Contents.json
  iOS/Layover/Layover/SceneDelegate.swift
  iOS/Layover/Layover/Scenes/Home/HomeRouter.swift
  iOS/Layover/Layover/Scenes/Login/LoginConfigurator.swift
  iOS/Layover/Layover/Scenes/Login/LoginInteractor.swift
  iOS/Layover/Layover/Scenes/Login/LoginModels.swift
  iOS/Layover/Layover/Scenes/Login/LoginPresenter.swift
  iOS/Layover/Layover/Scenes/Login/LoginRouter.swift
  iOS/Layover/Layover/Scenes/Login/LoginViewController.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Services/UserDefaults/UserDefaultStored.swift
Labels: 🍎 iOS, ✨ feature

#111 chore: 비디오 업로드 로직 개발 및 수정
  BE/layover/.eslintrc.js
  BE/layover/.prettierrc
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.entity.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/encoding-callback.dto.ts
  BE/layover/src/board/dtos/upload-callback.dto.ts
  BE/layover/src/main.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/video/video.service.ts
Labels: 🎀 BE, 🧹 chore

#92 feat: 재생화면 뷰 collectionView로 넣기
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/LOSlider.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/UIComponents/PlayerView.swift
Labels: 🍎 iOS, ✨ feature

#102 feat: 카카오 회원가입 처리 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/AuthManager.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointFactory.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/SignUpEndPointFactory.swift
  iOS/Layover/Layover/Resources/Assets.xcassets/icon_tab_back.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/icon_tab_back.imageset/icon_tab_back.png
  iOS/Layover/Layover/Resources/Assets.xcassets/icon_tab_back.imageset/icon_tab_back@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/icon_tab_back.imageset/icon_tab_back@3x.png
  iOS/Layover/Layover/Scenes/Login/LoginRouter.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpConfigurator.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpInteractor.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpModels.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpPresenter.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpRouter.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpWorker.swift
  iOS/Layover/Layover/Scenes/SignUpViewController.swift
Labels: 🍎 iOS, ✨ feature

#113 fix: 리뷰 반영
  BE/layover/src/member/dtos/introduce-res.dto.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
Labels: 🎀 BE, 🧹 chore

#103 feat: 지도 디테일 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/UIViewController+.swift
  iOS/Layover/Layover/Network/Mock/MockData/PatchProfileImage.json
  iOS/Layover/Layover/Resources/Assets.xcassets/mapPin.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/mapPin.imageset/map_pin_highlighted.png
  iOS/Layover/Layover/Resources/Assets.xcassets/mapPin.imageset/map_pin_highlighted@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/mapPin.imageset/map_pin_highlighted@3x.png
  iOS/Layover/Layover/Scenes/Map/LOAnnotation.swift
  iOS/Layover/Layover/Scenes/Map/MapConfigurator.swift
  iOS/Layover/Layover/Scenes/Map/MapInteractor.swift
  iOS/Layover/Layover/Scenes/Map/MapModels.swift
  iOS/Layover/Layover/Scenes/Map/MapPresenter.swift
  iOS/Layover/Layover/Scenes/Map/MapViewController.swift
  iOS/Layover/Layover/Scenes/Map/Views/LOAnnotationView.swift
  iOS/Layover/Layover/Scenes/Map/Views/MapCarouselCollectionViewCell.swift
Labels: 🍎 iOS, ✨ feature, 🌈 design

#117 feat: callback 추가 및 로거 테스트
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.entity.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/video/video.service.ts
Labels: 🎀 BE, ✨ feature

#120 feat: 프로필 이미지 presigned url 요청 api 구현
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/main.ts
  BE/layover/src/member/dtos/profile-presigned-url-res.dto.ts
  BE/layover/src/member/dtos/profile-presigned-url.dto.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.entity.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/utils/s3Utils.ts
Labels: 🎀 BE, ✨ feature

#119 feat: 애플 로그인 API 요청 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Layover.entitlements
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointFactory.swift
  iOS/Layover/Layover/Network/Mock/MockData/LoginData.json
  iOS/Layover/Layover/Scenes/Login/LoginConfigurator.swift
  iOS/Layover/Layover/Scenes/Login/LoginInteractor.swift
  iOS/Layover/Layover/Scenes/Login/LoginModels.swift
  iOS/Layover/Layover/Scenes/Login/LoginViewController.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Workers/MockLoginWorker.swift
Labels: 🍎 iOS, ✨ feature

#124 feat: 토큰 리프레시 로직 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/Notification.Name+.swift
  iOS/Layover/Layover/Network/AuthManager.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointFactory.swift
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/SceneDelegate.swift
Labels: 🍎 iOS, ✨ feature

#134 feat: 회원 정보 GET API
  BE/layover/src/main.ts
  BE/layover/src/member/dtos/member-infos-res.dto.ts
  BE/layover/src/member/dtos/profile-presigned-url-res.dto.ts
  BE/layover/src/member/dtos/profile-presigned-url.dto.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/response/ecustom-code.jenum.ts
  BE/layover/src/utils/s3Utils.ts
Labels: 🎀 BE, ✨ feature

#138 chore: swagger 정리, 회원가입 세부 로직 추가
  BE/layover/src/member/dtos/member-infos-res.dto.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/utils/jwtUtils.ts
  BE/layover/src/utils/swaggerUtils.ts
Labels: 🎀 BE, 🧹 chore

#140 feat: 타인 정보 가져오는 api 구현
  BE/layover/src/member/dtos/member-infos-res.dto.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/response/ecustom-code.jenum.ts
Labels: 🎀 BE, ✨ feature

#135 feat: UserWorker, UserEndPointFactory 구현, 닉네임 중복 검사 연결
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/DTOs/CheckUserNameDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointFactory.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/UserEndPointFactory.swift
  iOS/Layover/Layover/Network/Mock/MockData/CheckUserName.json
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpInteractor.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpModels.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpPresenter.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpWorker.swift
  iOS/Layover/Layover/Workers/MockSignUpWorker.swift
  iOS/Layover/Layover/Workers/MockUserWorker.swift
  iOS/Layover/Layover/Workers/UserWorker.swift
Labels: 🍎 iOS, ✨ feature

#141 feat: 홈 화면 게시물 조회
  BE/layover/src/app.module.ts
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.module.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/board-res-dto.ts
  BE/layover/src/board/dtos/boards-res.dto.ts
  BE/layover/src/main.ts
  BE/layover/src/tag/tag.entity.ts
  BE/layover/src/tag/tag.module.ts
  BE/layover/src/tag/tag.provider.ts
  BE/layover/src/tag/tag.service.ts
Labels: 🎀 BE, ✨ feature

#143 bug: navigationBar 중첩 버그 수정
  iOS/Layover/Layover/SceneDelegate.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileRouter.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpRouter.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarConfigurator.swift
Labels: 🍎 iOS, 🐞 bug

#151 feat: 신고 API 구현
  BE/layover/src/app.module.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/main.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/report/dtos/report-res.dto.ts
  BE/layover/src/report/dtos/report.dto.ts
  BE/layover/src/report/report.controller.ts
  BE/layover/src/report/report.entity.ts
  BE/layover/src/report/report.module.ts
  BE/layover/src/report/report.provider.ts
  BE/layover/src/report/report.service.ts
  BE/layover/src/utils/interfaces/token.payload.d.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, ✨ feature

#149 feat: 태그 선택 뷰 VIP, MockWorker 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/Sequence+.swift
  iOS/Layover/Layover/Models/Board.swift
  iOS/Layover/Layover/Models/Member.swift
  iOS/Layover/Layover/Models/Post.swift
  iOS/Layover/Layover/Network/DTOs/BoardDTO.swift
  iOS/Layover/Layover/Network/DTOs/MemberDTO.swift
  iOS/Layover/Layover/Network/DTOs/PostDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/PostEndPointFactory.swift
  iOS/Layover/Layover/Network/Mock/MockData/PostList.json
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Scenes/TagPlayList/Cell/TagPlayListCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListConfigurator.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListInteractor.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListModels.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListPresenter.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListRouter.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListViewController.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListWorker.swift
  iOS/Layover/Layover/Workers/DummyWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockLoginWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockSignUpWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockTagPlayListWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockUserWorker.swift
  iOS/Layover/Layover/Workers/Mocks/sample.jpeg
Labels: 🍎 iOS, ✨ feature, 🌈 design

#152 feat: 동영상 선택, 편집 기능
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoConfigurator.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoInteractor.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoModels.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoPresenter.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoRouter.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoViewController.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoWorker.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeModels.swift
  iOS/Layover/Layover/Scenes/Home/HomeRouter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/UIComponents/LoopingPlayerView.swift
  iOS/Layover/Layover/Workers/Mocks/MockUserWorker.swift
  iOS/Layover/Layover/Workers/VideoFileWorker.swift
Labels: 🍎 iOS, ✨ feature, 🌈 design

#159 feat: 키체인 삭제 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/AppDelegate.swift
  iOS/Layover/Layover/Services/System.swift
  iOS/Layover/Layover/Services/UserDefaults/UserDefaultStored.swift
Labels: 🍎 iOS, ✨ feature

#160 feat: 재생화면 VIP 싸이클 적용
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Models/Board.swift
  iOS/Layover/Layover/Models/Member.swift
  iOS/Layover/Layover/Models/Post.swift
  iOS/Layover/Layover/Network/DTOs/MemberDTO.swift
  iOS/Layover/Layover/Network/DTOs/VideoDTO.swift
  iOS/Layover/Layover/Scenes/Home/Cell/HomeCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeModels.swift
  iOS/Layover/Layover/Scenes/Home/HomePresenter.swift
  iOS/Layover/Layover/Scenes/Home/HomeRouter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Login/LoginRouter.swift
  iOS/Layover/Layover/Scenes/Map/MapConfigurator.swift
  iOS/Layover/Layover/Scenes/Map/MapInteractor.swift
  iOS/Layover/Layover/Scenes/Map/MapModels.swift
  iOS/Layover/Layover/Scenes/Map/MapPresenter.swift
  iOS/Layover/Layover/Scenes/Map/MapRouter.swift
  iOS/Layover/Layover/Scenes/Map/MapViewController.swift
  iOS/Layover/Layover/Scenes/Map/Views/MapCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackConfigurator.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackRouter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
Labels: 🍎 iOS, ✨ feature
