Repository boostcampwm2023/iOS09-Layover, pull requests merged in 2023-12, with the labels that each got.

#166 feat: 위치별 게시글 데이터 가져오기
  BE/layover/.eslintrc.js
  BE/layover/.prettierrc
  BE/layover/src/app.module.ts
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.entity.ts
  BE/layover/src/board/board.module.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/board.swagger.ts
  BE/layover/src/board/dtos/board-res-dto.ts
  BE/layover/src/board/dtos/create-board-res.dto.ts
  BE/layover/src/board/dtos/create-board.dto.ts
  BE/layover/src/board/dtos/presigned-url-res.dto.ts
  BE/layover/src/board/dtos/presigned-url.dto.ts
  BE/layover/src/tag/tag.entity.ts
  BE/layover/src/tag/tag.service.ts
  BE/layover/src/video/video.entity.ts
  BE/layover/src/video/video.module.ts
  BE/layover/src/video/video.provider.ts
  BE/layover/src/video/video.service.ts
Labels: 🎀 BE, ✨ feature

#168 feat: tag별 데이터 가져오기
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.entity.ts
  BE/layover/src/board/board.service.ts
Labels: 🎀 BE, ✨ feature

#170 refactor: 스웨거 성공 응답 상수로 다 빼기
  BE/layover/.eslintrc.js
  BE/layover/.prettierrc
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.swagger.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.swagger.ts
  BE/layover/src/report/dtos/report-res.dto.ts
  BE/layover/src/report/report.controller.ts
  BE/layover/src/report/report.service.ts
  BE/layover/src/report/report.swagger.ts
Labels: 🎀 BE, 🧹 chore

#171 :wrench: 위도 경도 수정
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/board-res-dto.ts
  BE/layover/src/board/dtos/create-board-res.dto.ts
  BE/layover/src/board/dtos/create-board.dto.ts
Labels: 🎀 BE, 🧹 chore

#176 feat: Home VIP 적용, MockHomeWorker 구현 및 설정
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Scenes/Home/Cell/HomeCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeModels.swift
  iOS/Layover/Layover/Scenes/Home/HomePresenter.swift
  iOS/Layover/Layover/Scenes/Home/HomeRouter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Home/HomeWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockHomeWorker.swift
  iOS/Layover/Layover/Workers/Mocks/StubAuthManager.swift
Labels: 🍎 iOS, ✨ feature

#178 feat: 업로드 정보 입력화면 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/LOCircleButton.swift
  iOS/Layover/Layover/DesignSystem/LOImageLabel.swift
  iOS/Layover/Layover/DesignSystem/LOTagStackView.swift
  iOS/Layover/Layover/DesignSystem/LOTextView.swift
  iOS/Layover/Layover/Resources/Assets.xcassets/LocationPin.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/LocationPin.imageset/LocationPin.png
  iOS/Layover/Layover/Resources/Assets.xcassets/LocationPin.imageset/LocationPin@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/LocationPin.imageset/LocationPin@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/Title.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/Title.imageset/Title.png
  iOS/Layover/Layover/Resources/Assets.xcassets/Title.imageset/Title@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/Title.imageset/Title@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/close.imageset/Close Button.png
  iOS/Layover/Layover/Resources/Assets.xcassets/close.imageset/Close Button@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/close.imageset/Close Button@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/close.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/content.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/content.imageset/Document.png
  iOS/Layover/Layover/Resources/Assets.xcassets/content.imageset/Document@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/content.imageset/Document@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/myLocation.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/myLocation.imageset/location_icon.png
  iOS/Layover/Layover/Resources/Assets.xcassets/myLocation.imageset/location_icon@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/myLocation.imageset/location_icon@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/smallPlus.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/smallPlus.imageset/smallPlus.png
  iOS/Layover/Layover/Resources/Assets.xcassets/smallPlus.imageset/smallPlus@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/smallPlus.imageset/smallPlus@3x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/tag.imageset/Contents.json
  iOS/Layover/Layover/Resources/Assets.xcassets/tag.imageset/box.png
  iOS/Layover/Layover/Resources/Assets.xcassets/tag.imageset/box@2x.png
  iOS/Layover/Layover/Resources/Assets.xcassets/tag.imageset/box@3x.png
  iOS/Layover/Layover/Scenes/EditTag/EditTagConfigurator.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagInteractor.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagModels.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagPresenter.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagRouter.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostConfigurator.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostInteractor.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostModels.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostPresenter.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostRouter.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostWorker.swift
Labels: 🍎 iOS, ✨ feature, 🌈 design

#184 chore: navigationBar, tabBar appearance 관련 설정 수정
  iOS/Layover/Layover/AppDelegate.swift
  iOS/Layover/Layover/Scenes/BaseViewController.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingSceneViewController.swift
  iOS/Layover/Layover/Scenes/Tabbar/MainTabBarConfigurator.swift
Labels: 🍎 iOS, 🌈 design

#201 bug: 재생화면 스택 뷰 재사용 이슈
  iOS/Layover/Layover/DesignSystem/LOTagStackView.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
Labels: 🍎 iOS, 🐞 bug

#205 feat: board 삭제 기능 및 필터링 추가
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.ts
Labels: 🎀 BE, ✨ feature

#206 feat: profile 게시글 조회 추가
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.ts
Labels: 🎀 BE, ✨ feature

#208 feat: 회원가입 여부 확인 API 구현 및 프로필 GET 요청 하나로 통일
  BE/layover/src/main.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.swagger.ts
  BE/layover/src/oauth/dtos/check-signup-res-dto.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.swagger.ts
Labels: 🎀 BE, ✨ feature

#197 feat: 업로드용 메서드 구현
  iOS/Layover/Layover/Network/Provider/Provider.swift
Labels: 🍎 iOS, ✨ feature

#213 feat: pagination 추가 및 버그 수정
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/create-board.dto.ts
  BE/layover/src/utils/swaggerUtils.ts
Labels: 🎀 BE, ✨ feature, 🧹 chore

#211 Feat: apple id 토큰 검증 로직 추가
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/response/ecustom-code.jenum.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, 🧹 chore

#214 bug: jwt bearer 헤더 처리
  BE/layover/src/board/board.controller.ts
  BE/layover/src/main.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/report/report.controller.ts
Labels: 🎀 BE, 🐞 bug

#221 fix: 회원가입 여부 확인 필드명 변경 및 자잘한 수정
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.ts
Labels: 🎀 BE, 🧹 chore

#218 feat: 회원가입 시 기존 회원가입 여부 확인 네트워크 연결
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/DTOs/CheckSignUpDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointFactory.swift
  iOS/Layover/Layover/Network/Mock/MockData/CheckSignUp.json
  iOS/Layover/Layover/Scenes/Login/LoginInteractor.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockLoginWorker.swift
Labels: 🍎 iOS, ✨ feature

#223 chore: 변경된 서버 API 필드명으로 회원가입 여부 DTO 변경, 코드 리뷰 반영
  iOS/Layover/Layover/Network/DTOs/CheckSignUpDTO.swift
  iOS/Layover/Layover/Network/Mock/MockData/CheckSignUp.json
  iOS/Layover/Layover/Network/Mock/MockData/LoginData.json
  iOS/Layover/Layover/Scenes/Login/LoginInteractor.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockLoginWorker.swift
Labels: 🍎 iOS, 🧹 chore

#216 feat: 프로필 VIP 로직 구현, 네트워크 연결
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Models/Member.swift
  iOS/Layover/Layover/Network/DTOs/MemberDTO.swift
  iOS/Layover/Layover/Network/DTOs/ProfileImageDTO.swift
  iOS/Layover/Layover/Network/DTOs/VideoDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/UserEndPointFactory.swift
  iOS/Layover/Layover/Network/Mock/MockData/GetMember.json
  iOS/Layover/Layover/Network/Mock/MockData/PostListEnd.json
  iOS/Layover/Layover/Network/Mock/MockData/PostListMore.json
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileInteractor.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileModels.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfilePresenter.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileConfigurator.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileModels.swift
  iOS/Layover/Layover/Scenes/Profile/ProfilePresenter.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileRouter.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/Views/ProfileCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Profile/Views/ThumbnailCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpInteractor.swift
  iOS/Layover/Layover/Workers/Mocks/MockUserWorker.swift
  iOS/Layover/Layover/Workers/UserWorker.swift
Labels: 🍎 iOS, ✨ feature

#215 bug: 재생화면 버그 수정
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackRouter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
Labels: 🍎 iOS, 🐞 bug

#231 feat: 설정 뷰 VIP 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/DTOs/NicknameDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/UserEndPointFactory.swift
  iOS/Layover/Layover/Scenes/Login/LoginConfigurator.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileRouter.swift
  iOS/Layover/Layover/Scenes/Setting/SettingConfigurator.swift
  iOS/Layover/Layover/Scenes/Setting/SettingInteractor.swift
  iOS/Layover/Layover/Scenes/Setting/SettingModels.swift
  iOS/Layover/Layover/Scenes/Setting/SettingPresenter.swift
  iOS/Layover/Layover/Scenes/Setting/SettingRouter.swift
  iOS/Layover/Layover/Scenes/Setting/SettingViewController.swift
  iOS/Layover/Layover/Scenes/Setting/SettingWorker.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingSceneInteractor.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingSceneModels.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingScenePresenter.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingSceneRouter.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingSceneViewController.swift
  iOS/Layover/Layover/Scenes/SettingScene/SettingSceneWorker.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpConfigurator.swift
  iOS/Layover/Layover/Services/System.swift
  iOS/Layover/Layover/Workers/Mocks/MockUserWorker.swift
  iOS/Layover/Layover/Workers/UserWorker.swift
Labels: 🍎 iOS, ✨ feature

#242 refactor: 태그 관련 리팩토링
  BE/layover/src/board/board.service.ts
  BE/layover/src/tag/tag.module.ts
  BE/layover/src/tag/tag.repository.ts
  BE/layover/src/tag/tag.service.ts
Labels: 🎀 BE, ♻️ Improvement

#235 bug: 재생화면 설명 뷰 버그 수정 & 플레이어뷰 옵저버 제거 코드 추가
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
Labels: 🍎 iOS, 🐞 bug

#246 refactor: Member 리팩토링
  BE/layover/src/board/board.service.spec.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.module.ts
  BE/layover/src/member/member.repository.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/report/report.service.ts
Labels: 🎀 BE, ♻️ Improvement

#250 test: Oauth 모듈 테스트 코드
  BE/layover/src/oauth/oauth.controller.spec.ts
  BE/layover/src/oauth/oauth.service.spec.ts
Labels: 🎀 BE, 🧪 test

#244 bug: 재생화면 재사용 버그 수정
  iOS/Layover/Layover/Network/DTOs/BoardDTO.swift
  iOS/Layover/Layover/Network/Mock/MockData/PostList.json
  iOS/Layover/Layover/Network/Mock/MockData/PostListMore.json
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackRouter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileConfigurator.swift
Labels: 🍎 iOS, 🐞 bug

#252 refactor: custom response 리팩토링
  BE/layover/src/member/member.controller.ts
  BE/layover/src/oauth/oauth.controller.spec.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.spec.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/response/custom-response.ts
  BE/layover/src/response/ecustom-code.jenum.spec.ts
  BE/layover/src/response/ecustom-code.jenum.ts
  BE/layover/src/utils/jwtUtils.ts
Labels: 🎀 BE, ♻️ Improvement

#254 chore: 공통 Response DTO 필드 제거 + 스킴 추가
  iOS/Layover/Layover.xcodeproj/xcshareddata/xcschemes/Layover.xcscheme
  iOS/Layover/Layover/Network/DTOs/Response.swift
  iOS/Layover/Layover/Network/Mock/MockData/CheckSignUp.json
  iOS/Layover/Layover/Network/Mock/MockData/CheckUserName.json
  iOS/Layover/Layover/Network/Mock/MockData/DeleteUser.json
  iOS/Layover/Layover/Network/Mock/MockData/GetMember.json
  iOS/Layover/Layover/Network/Mock/MockData/LoginData.json
  iOS/Layover/Layover/Network/Mock/MockData/PatchIntroduce.json
  iOS/Layover/Layover/Network/Mock/MockData/PatchProfileImage.json
  iOS/Layover/Layover/Network/Mock/MockData/PatchUserName.json
  iOS/Layover/Layover/Network/Mock/MockData/PostList.json
  iOS/Layover/Layover/Network/Mock/MockData/PostListEnd.json
  iOS/Layover/Layover/Network/Mock/MockData/PostListMore.json
  iOS/Layover/Layover/Network/Mock/MockData/ReportPlaybackVideo.json
  iOS/Layover/LayoverTests/Mocks/MockDatas/PostList.json
Labels: 🍎 iOS, 🧹 chore

#262 bug: mov 분기 처리
  BE/layover/src/utils/s3Utils.ts
Labels: 🎀 BE, 🐞 bug

#264 feat: 기본 이미지 설정 api 구현 + 응답 형식 변경에 따른 스웨거 변경
  BE/layover/src/member/dtos/member-infos-res.dto.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.swagger.ts
  BE/layover/src/oauth/oauth.swagger.ts
  BE/layover/src/report/report.swagger.ts
  BE/layover/src/utils/swaggerUtils.ts
Labels: 🎀 BE, ✨ feature

#265 feat: id별로 게시글 삭제
  BE/layover/src/board/board.repository.ts
  BE/layover/src/board/board.service.ts
Labels: 🎀 BE, ✨ feature

#257 chore: 삭제 실제 서버 연결 및 removeTimeObserver가 안되던 버그 수정
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/Mock/MockData/DeleteVideo.json
  iOS/Layover/Layover/Scenes/Playback/PlaybackConfigurator.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Workers/Mocks/MockPlaybackWorker.swift
Labels: 🍎 iOS, 🐞 bug, 🧹 chore

#261 bug: 실행 시 네비게이션 바 중첩 버그 수정
  iOS/Layover/Layover/SceneDelegate.swift
  iOS/Layover/Layover/Scenes/Login/LoginRouter.swift
  iOS/Layover/Layover/Scenes/Setting/SettingRouter.swift
Labels: 🍎 iOS, 🐞 bug, 🌈 design

#259 feat: 프로필 변경 화면 VIP 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/DTOs/MemberDTO.swift
  iOS/Layover/Layover/Network/DTOs/PresignedURLDTO.swift
  iOS/Layover/Layover/Network/DTOs/UploadVideoDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/UploadPostEndPointFactory.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/UserEndPointFactory.swift
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileConfigurator.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileInteractor.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileModels.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfilePresenter.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileRouter.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileRouter.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpPresenter.swift
  iOS/Layover/Layover/Workers/Mocks/MockUserWorker.swift
  iOS/Layover/Layover/Workers/UserWorker.swift
Labels: 🍎 iOS, ✨ feature

#269 chore: content-type key value 추가 및 로직 수정
  BE/layover/src/board/board.controller.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/utils/s3Utils.ts
Labels: 🎀 BE, 🧹 chore

#272 bug: 업로드 안되는 버그 및 업로드 화면 개선
  iOS/Layover/Layover/DesignSystem/LOImageLabel.swift
  iOS/Layover/Layover/Extensions/Notification.Name+.swift
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/SceneDelegate.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoInteractor.swift
  iOS/Layover/Layover/Scenes/EditVideo/EditVideoViewController.swift
  iOS/Layover/Layover/Scenes/UIComponents/Toast.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostWorker.swift
Labels: 🍎 iOS, 🐞 bug, ♻️ Improvement

#271 feat: UI개선, 프로필 이미지 추가
  iOS/Layover/Layover/DesignSystem/LODescriptionView.swift
  iOS/Layover/Layover/Scenes/Home/HomeRouter.swift
  iOS/Layover/Layover/Scenes/Map/MapRouter.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockPlaybackWorker.swift
Labels: 🍎 iOS, 🌈 design, ♻️ Improvement

#274 feat: thumbnail 이미지 다운로드 개선
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Models/Post.swift
  iOS/Layover/Layover/Models/ThumbnailLoadedPost.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Home/HomeWorker.swift
  iOS/Layover/Layover/Scenes/Map/LOAnnotation.swift
  iOS/Layover/Layover/Scenes/Map/MapInteractor.swift
  iOS/Layover/Layover/Scenes/Map/MapModels.swift
  iOS/Layover/Layover/Scenes/Map/MapWorker.swift
  iOS/Layover/Layover/Scenes/Map/Views/LOAnnotationView.swift
  iOS/Layover/Layover/Scenes/Map/Views/MapCarouselCollectionViewCell.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeInteractorTests.swift
Labels: 🍎 iOS, ♻️ Improvement

#270 feat: 태그 재생 목록 뷰 데이터 페이징 처리 구현
  iOS/Layover/Layover/Network/EndPoint/Factories/PostEndPointFactory.swift
  iOS/Layover/Layover/Network/Mock/MockData/PostList.json
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/TagPlayList/Cell/TagPlayListCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListConfigurator.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListInteractor.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListModels.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListPresenter.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListRouter.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListViewController.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockTagPlayListWorker.swift
Labels: 🍎 iOS, ✨ feature

#277 fix: 멤버 삭제 로직 수정
  BE/layover/src/board/board.fixture.ts
  BE/layover/src/board/board.module.ts
  BE/layover/src/board/board.repository.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.entity.ts
  BE/layover/src/member/member.module.ts
  BE/layover/src/member/member.repository.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.spec.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.module.ts
  BE/layover/src/oauth/oauth.service.spec.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/report/report.controller.ts
  BE/layover/src/report/report.module.ts
  BE/layover/src/report/report.service.ts
Labels: 🎀 BE, 🧹 chore, ♻️ Improvement, 🧪 test

#275 Feat: 프로필, 태그 버튼 해당 뷰로 연결
  iOS/Layover/Layover/Network/EndPoint/Factories/UserEndPointFactory.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackRouter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListInteractor.swift
Labels: 🍎 iOS, 🐞 bug, ✨ feature

#281 chore: 프로필 이미지 변경 요청 시 MimeType 추출방식 변경, 로딩 인디케이터 구현
  iOS/Layover/Layover/Network/Provider/Provider.swift
  iOS/Layover/Layover/Scenes/BaseViewController.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileInteractor.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Workers/Mocks/MockUserWorker.swift
  iOS/Layover/Layover/Workers/UserWorker.swift
Labels: 🍎 iOS, 🧹 chore, 🌈 design

#283 feat: 업로드 태그 개수 제한, 필드 글자수 제한
  iOS/Layover/Layover/DesignSystem/LOTagStackView.swift
  iOS/Layover/Layover/DesignSystem/LOTextField.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagInteractor.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagModels.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagPresenter.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagRouter.swift
  iOS/Layover/Layover/Scenes/EditTag/EditTagViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostInteractor.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostModels.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostViewController.swift
Labels: 🍎 iOS, ✨ feature, ♻️ Improvement

#279 test: 홈 테스트 코드 수정
  iOS/Layover/Layover/Scenes/Home/HomePresenter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/LayoverTests/Mocks/Workers/MockHomeWorker.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomePresenterTests.swift
Labels: 🍎 iOS, 🧪 test

#282 feat: 재생화면 페이징 구현
  iOS/Layover/Layover/Scenes/Map/MapRouter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileRouter.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListRouter.swift
  iOS/Layover/Layover/Workers/Mocks/MockPlaybackWorker.swift
Labels: 🍎 iOS, ✨ feature

#291 bug: 업로드, 프로필 편집시 PHPicker 이전에 선택한 것 reset
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/VideoPickerManager.swift
Labels: 🍎 iOS, ✨ feature

#290 chore: 탈퇴 시 안내 문구 수정, 회원가입시 memberId UserDefaults에 저장하도록 변경
  iOS/Layover/Layover/Network/AuthManager.swift
  iOS/Layover/Layover/SceneDelegate.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Scenes/Setting/SettingInteractor.swift
  iOS/Layover/Layover/Scenes/Setting/SettingViewController.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpWorker.swift
  iOS/Layover/Layover/Services/System.swift
  iOS/Layover/Layover/Services/UserDefaults/UserDefaultStored.swift
  iOS/Layover/Layover/Workers/Mocks/StubAuthManager.swift
Labels: 🍎 iOS, ✨ feature, 🌈 design

#293 chore: 각종 문제점 개선
  iOS/Layover/Layover/DesignSystem/LODescriptionView.swift
  iOS/Layover/Layover/Network/DTOs/ReportDTO.swift
  iOS/Layover/Layover/Network/EndPoint/Factories/DefaultPostManagerEndPointFactory.swift
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/Report/ReportConfigurator.swift
  iOS/Layover/Layover/Workers/Mocks/MockReportWorker.swift
Labels: 🍎 iOS, 🐞 bug, 🧹 chore

#296 chore: 업로드 중인 상태도 반환하도록 설정
  BE/layover/src/board/board.repository.ts
  BE/layover/src/board/board.service.ts
Labels: 🎀 BE, 🧹 chore

#298 chore: 신고 삭제 로직 분리
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockPlaybackWorker.swift
Labels: 🍎 iOS, 🧹 chore

#313 bug: memberID 요청 전, 토큰을 저장하지 않았던 버그 수정
  iOS/Layover/Layover/Network/AuthManager.swift
  iOS/Layover/Layover/Scenes/Login/LoginWorker.swift
  iOS/Layover/Layover/Scenes/SignUpScene/SignUpWorker.swift
Labels: 🍎 iOS, 🐞 bug

#297 test: TagPlayList VIP 테스트코드 작성
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListInteractor.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListWorker.swift
  iOS/Layover/LayoverTests/Mocks/MockDatas/PostListMore.json
  iOS/Layover/LayoverTests/Mocks/Workers/MockTagPlayListWorker.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListPresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListWorkerTests.swift
  iOS/Layover/LayoverTests/Seeds.swift
  iOS/Layover/LayoverTests/Stubs/StubAuthManager.swift
Labels: 🍎 iOS, 🧪 test

#314 feat: JWT를 이용한 인증 보안 강화
  BE/layover/src/board/board.controller.spec.ts
  BE/layover/src/board/board.controller.ts
  BE/layover/src/member/member.controller.ts
  BE/layover/src/member/member.module.ts
  BE/layover/src/member/member.service.ts
  BE/layover/src/oauth/oauth.controller.spec.ts
  BE/layover/src/oauth/oauth.controller.ts
  BE/layover/src/oauth/oauth.service.spec.ts
  BE/layover/src/oauth/oauth.service.ts
  BE/layover/src/pipes/jwt.validation.pipe.ts
  BE/layover/src/redis/redis.module.ts
  BE/layover/src/redis/redis.provider.ts
  BE/layover/src/report/report.controller.ts
  BE/layover/src/response/ecustom-code.jenum.ts
Labels: 🎀 BE, ♻️ Improvement

#318 chore: custom logger 설정
  BE/layover/Dockerfile
  BE/layover/Jenkinsfile_CD
  BE/layover/package-lock.json
  BE/layover/package.json
  BE/layover/src/utils/logging-interceptor.ts
  BE/layover/src/utils/my-logger.ts
Labels: 🎀 BE, 🧹 chore

#323 chore: 태그별, 프로필 영상 최신영상부터 내려줌
  BE/layover/src/board/board.entity.ts
  BE/layover/src/board/board.repository.ts
Labels: 🎀 BE, 🧹 chore

#315 feat: 프로필 뷰에서 업로드 중인 영상 로딩 처리, 각종 버그 수정
  iOS/Layover/Layover/Models/Board.swift
  iOS/Layover/Layover/Network/DTOs/BoardDTO.swift
  iOS/Layover/Layover/Network/Mock/MockData/PostList.json
  iOS/Layover/Layover/Network/Mock/MockData/PostListMore.json
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileInteractor.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileModels.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileConfigurator.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileModels.swift
  iOS/Layover/Layover/Scenes/Profile/ProfilePresenter.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/Profile/Views/ThumbnailCollectionViewCell.swift
  iOS/Layover/LayoverTests/Mocks/MockDatas/PostList.json
  iOS/Layover/LayoverTests/Mocks/MockDatas/PostListMore.json
  iOS/Layover/LayoverTests/Scenes/Home/HomeInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeWorkerTests.swift
  iOS/Layover/LayoverTests/Scenes/Profile/ProfileInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Profile/ProfilePresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/Profile/ProfileViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListWorkerTests.swift
  iOS/Layover/LayoverTests/Seeds.swift
Labels: 🍎 iOS, 🐞 bug, ✨ feature, 🌈 design

#322 test: Setting VIP 테스트코드 작성, 실패 메시지 문구 반대로 작성된 것 수정
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileInteractor.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileViewController.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileViewController.swift
  iOS/Layover/Layover/Scenes/Setting/SettingInteractor.swift
  iOS/Layover/Layover/Scenes/Setting/SettingViewController.swift
  iOS/Layover/Layover/Scenes/Setting/SettingWorker.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListInteractor.swift
  iOS/Layover/Layover/Scenes/TagPlayList/TagPlayListViewController.swift
  iOS/Layover/LayoverTests/Mocks/Workers/MockHomeWorker.swift
  iOS/Layover/LayoverTests/Mocks/Workers/MockSettingWorker.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomePresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeWorkerTests.swift
  iOS/Layover/LayoverTests/Scenes/Profile/ProfileInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Profile/ProfilePresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/Profile/ProfileViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/Setting/SettingInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Setting/SettingPresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/Setting/SettingViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/TagPlayList/TagPlayListWorkerTests.swift
Labels: 🍎 iOS, 🧪 test

#326 test: 업로드 VIP 테스트 코드 작성
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostConfigurator.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostInteractor.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostWorker.swift
  iOS/Layover/Layover/Services/Location/CurrentLocationManager.swift
  iOS/Layover/Layover/Services/Location/LocationFetcher.swift
  iOS/Layover/LayoverTests/Mocks/LocationFetcher/MockLocationFetcher.swift
  iOS/Layover/LayoverTests/Mocks/MockDatas/PostBoard.json
  iOS/Layover/LayoverTests/Mocks/Workers/MockUploadPostWorker.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostPresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostViewControllerTests.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostWorkerTests.swift
  iOS/Layover/LayoverTests/Seeds.swift
Labels: 🍎 iOS, 🧪 test

#327 test: EditProfile 테스트코드 작성
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileInteractor.swift
  iOS/Layover/Layover/Scenes/EditProfile/EditProfileWorker.swift
  iOS/Layover/LayoverTests/Scenes/EditProfile/EditProfileInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/EditProfile/EditProfilePresenterTests.swift
Labels: 🍎 iOS, 🧪 test

#330 feat: HLS 세그먼트를 앞부분부터 잘라서 로드시킬 수 있는 커스텀 리소스 로더 구현
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/URL+.swift
  iOS/Layover/Layover/Scenes/Home/Cell/HomeCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Profile/ProfileInteractor.swift
  iOS/Layover/Layover/Scenes/UIComponents/LoopingPlayerView.swift
  iOS/Layover/Layover/Services/HLSResourceLoader/HLSAssetResourceLoaderDelegate.swift
  iOS/Layover/Layover/Services/HLSResourceLoader/HLSSliceResourceLoader.swift
Labels: 🍎 iOS, ♻️ Improvement

#328 chore: 지도에서 재생 넘어갔을 때의 삭제
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Scenes/Playback/Cell/PlaybackCell.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackModels.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackPresenter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackRouter.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
Labels: 🍎 iOS, 🐞 bug, 🧹 chore

#331 feat: 영상 재추출시 업로드 에러, 지도 인코딩중 표시 및 권한 처리
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Extensions/AVFileType+.swift
  iOS/Layover/Layover/Extensions/URL+.swift
  iOS/Layover/Layover/Scenes/Home/HomeConfigurator.swift
  iOS/Layover/Layover/Scenes/Home/HomeInteractor.swift
  iOS/Layover/Layover/Scenes/Home/HomePresenter.swift
  iOS/Layover/Layover/Scenes/Home/HomeViewController.swift
  iOS/Layover/Layover/Scenes/Map/MapConfigurator.swift
  iOS/Layover/Layover/Scenes/Map/MapInteractor.swift
  iOS/Layover/Layover/Scenes/Map/MapModels.swift
  iOS/Layover/Layover/Scenes/Map/MapPresenter.swift
  iOS/Layover/Layover/Scenes/Map/MapViewController.swift
  iOS/Layover/Layover/Scenes/Map/MapWorker.swift
  iOS/Layover/Layover/Scenes/Map/Views/MapCarouselCollectionViewCell.swift
  iOS/Layover/Layover/Scenes/UIComponents/LoopingPlayerView.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostInteractor.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostPresenter.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/VideoPickerManager.swift
  iOS/Layover/Layover/Services/HLSResourceLoader/HLSAssetResourceLoaderDelegate.swift
  iOS/Layover/Layover/Services/HLSResourceLoader/HLSSliceResourceLoader.swift
  iOS/Layover/Layover/Services/Location/CurrentLocationManager.swift
  iOS/Layover/Layover/Services/Location/LocationFetcher.swift
  iOS/Layover/LayoverTests/Mocks/LocationFetcher/MockLocationFetcher.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomeInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/Home/HomePresenterTests.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostPresenterTests.swift
Labels: 🍎 iOS, ♻️ Improvement
