Repository boostcampwm2023/iOS09-Layover, pull requests merged in 2024-01, with the labels that each got.

#338 chore: dto 및 로직 수정
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/encoding-callback.dto.ts
Labels: 🎀 BE, 🧹 chore

#339 fix: jenkins file 수정
  BE/layover/Jenkinsfile_CI
Labels: 🎀 BE, 🐞 bug

#341 feat: release PR
  BE/layover/Jenkinsfile_CI
  BE/layover/docker-compose.yml
  BE/layover/src/board/board.controller.ts
  BE/layover/src/board/board.service.ts
  BE/layover/src/board/dtos/encoding-callback.dto.ts
Labels: 🎀 BE

#343 chore: 지도 셀 커스텀 리소스 적용 및 black screen flash 현상 제거
  iOS/Layover/Layover/Scenes/Map/MapViewController.swift
  iOS/Layover/Layover/Scenes/Map/Views/MapCarouselCollectionViewCell.swift
Labels: 🧹 chore, ♻️ Improvement

#347 test: 빠진 assert문 수정
  iOS/Layover/LayoverTests/Scenes/SignUp/SignUpInteractorTests.swift
Labels: 🍎 iOS, 🧪 test

#350 feat: HLS 캐싱 적용
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Layover/Layover/AppDelegate.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackView.swift
Labels: 🍎 iOS, ♻️ Improvement

#354 bug: Access Token 재발급 문제
  iOS/Layover/Layover/Network/EndPoint/Factories/LoginEndPointFactory.swift
Labels: 🍎 iOS, 🐞 bug

#349 feat: prefetching을 통한 성능개선 시도
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/Network/Prefetcher/Prefetcher.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackInteractor.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackViewController.swift
  iOS/Layover/Layover/Scenes/Playback/PlaybackWorker.swift
  iOS/Layover/Layover/Workers/Mocks/MockPlaybackWorker.swift
  iOS/Layover/LayoverTests/Mocks/Workers/MockPlaybackWorker.swift
Labels: 🍎 iOS, ✨ feature, ♻️ Improvement

#356 feat: 위치 선택 기능 추가
  iOS/Layover/Layover.xcodeproj/project.pbxproj
  iOS/Layover/Layover/DesignSystem/LOTextLabel.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostInteractor.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostModels.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostPresenter.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostViewController.swift
  iOS/Layover/Layover/Scenes/UploadPost/UploadPostWorker.swift
  iOS/Layover/Layover/Services/Location/CurrentLocationManager.swift
  iOS/Layover/LayoverTests/Mocks/Workers/MockUploadPostWorker.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostInteractorTests.swift
  iOS/Layover/LayoverTests/Scenes/UploadPost/UploadPostPresenterTests.swift
Labels: 🍎 iOS, ✨ feature
